absl-py==0.10.0
aiofiles==0.6.0
astunparse==1.6.3
attrs==20.3.0
Babel==2.9.0
cachetools==4.2.1
certifi==2020.12.5
chardet==4.0.0
click==7.1.2
cloudpickle==1.6.0
cycler==0.10.0
dataclasses==0.8
dill==0.3.3
fastapi==0.63.0
filelock==3.0.12
flatbuffers==1.12
funcsigs==1.0.2
future==0.18.2
gast==0.3.3
gin-config==0.4.0
google-auth==1.27.1
google-auth-oauthlib==0.4.3
google-pasta==0.2.0
googleapis-common-protos==1.53.0
grpcio==1.32.0
gym==0.18.0
h11==0.12.0
h5py==2.10.0
idna==2.10
importlib-metadata==3.7.0
importlib-resources==5.1.2
jax==0.2.9
jaxlib==0.1.61
Jinja2==2.11.3
joblib==1.0.1
Keras==2.4.3
Keras-Preprocessing==1.1.2
kiwisolver==1.3.1
Markdown==3.3.4
MarkupSafe==1.1.1
matplotlib==3.3.4
mesh-tensorflow==0.1.18
nltk==3.5
numpy==1.19.5
oauthlib==3.1.0
opt-einsum==3.3.0
packaging==20.9
pandas==1.1.5
Pillow==7.2.0
portalocker==2.2.1
promise==2.3
protobuf==3.15.5
psutil==5.8.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pydantic==1.8.1
pyglet==1.5.0
pyparsing==2.4.7
python-dateutil==2.8.1
python-multipart==0.0.5
pytz==2021.1
PyYAML==5.4.1
regex==2020.11.13
requests==2.25.1
requests-oauthlib==1.3.0
rouge-score==0.0.4
rsa==4.7.2
sacrebleu==1.5.0
sacremoses==0.0.43
scikit-learn==0.24.1
scipy==1.5.4
sentencepiece==0.1.95
six==1.15.0
starlette==0.13.6
t5==0.9.0
tensorboard==2.4.1
tensorboard-plugin-wit==1.8.0
tensorflow==2.4.1
tensorflow-datasets==4.2.0
tensorflow-estimator==2.4.0
tensorflow-hub==0.11.0
tensorflow-metadata==0.28.0
tensorflow-text==2.4.3
termcolor==1.1.0
tfds-nightly==4.2.0.dev202103050106
threadpoolctl==2.1.0
tokenizers==0.10.1
torch==1.8.0
tqdm==4.58.0
transformers==4.3.3
trax==1.3.7
typing-extensions==3.7.4.3
urllib3==1.26.3
uvicorn==0.13.4
wrapt==1.12.1
zipp==3.4.1
